header .nav_btn {
    position: fixed;
    top: 1rem;
    right: 0;
    z-index: 5;

    #menuToggle {
      &:checked ~ {
        .menuEffects {
          visibility: visible;
          transition: opacity 0.5s;
          opacity: 1;
  
          ul {
            opacity: 1;
          }
        }
  
      .hamburger .open {
        background-color: transparent;

        &:before {
          position: absolute;
          top: 0;
          right: 0;
          content: '';
          transform: rotate(45deg);
          background-color: $cWhite;
          z-index: 5;
        }
  
          &:after {
            position: relative;
            top: 0;
            right: 0;
            content: '';
            transform: rotate(-45deg);
            background-color: $cWhite;
            z-index: 5;
          }
        }
      }
  
      &:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
      }
    }
  
    .hamburger {
      display: block;
      position: relative;
      top: 0;
      right: 3rem;
      padding: 10px;
      cursor: pointer;
      z-index: 5;
  
      &:hover .open {
        &:before {
          top: -9px;
        }
  
        &:after {
          top: 8px;
        }
      }
    }
  
    .open {
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 2px;
      background-color: $cWhite;
      transition: all 0.3s ease;
  
      &:before, &:after {
        display: block;
        position: relative;
        width: 24px;
        height: 2px;
        border-radius: 2px;
        background-color: $cWhite;
        transition: all 0.3s ease;
      }
  
      top: 8px;
      cursor: pointer;
  
      &:before {
        top: -8px;
        content: '';
        transform: rotate(0deg);
      }
  
      &:after {
        top: 7px;
        content: '';
      }
    }
  }

  a {
      text-decoration: none;
      color: inherit;

      &:visited, &:hover, &:active {
        text-decoration: none;
        color: inherit;
      }
  }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $cpink;

      label {
        position: absolute;
        top: 2rem;
        right: 20rem;
        width: 30rem;
        height: 30rem;
        cursor: pointer;
        background-size: 100%;
      }

      .menucont {
        position: relative;
        top: 16%;
        font-size: 2rem;
        text-align: center;
      }

      ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        color: $cWhite;
      }

      .sns {
        display: flex;
        justify-content: center;

        li {
          width: 3rem;
          margin-right: 2.5rem;

          &:nth-of-type(3) {
            width: 3rem;
            margin: initial;
          }
        }
      }

      ul li {
        transition: all 0.3s ease;

        a {
          transition: all 0.3s ease;
          display: block;
          padding: 2rem 0;

          &:hover {
            color: $cWhite;
          }
        }
      }
    }
  
    .menuEffects {
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s;
      opacity: 0;
  
      ul {
        transition: all 0.5s;
        transform: translateY(0%);
      }
    }
