@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #80daff;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin-left: 2rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 3rem 0 0 1rem;
}

ul, li {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background: #ff7176;
  z-index: 3;
}

header .nav_btn {
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 4;
}

header .nav_btn #menuToggle {
  display: none;
}

.all_container {
  position: relative;
  color: #000;
}

.mv {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;
  top: 6rem;
}

.mv .kaisai {
  padding-top: 8rem;
}

.mv .kaisai h3 {
  position: absolute;
  background-image: url(../img/imouto.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: -1rem;
  height: calc(120 / 375 * 100vw);
  width: calc(240 / 375 * 100vw);
  text-indent: -9999%;
}

.mv .logo {
  position: absolute;
  width: calc(250 / 375 * 100vw);
  margin: auto;
  top: calc(120 / 375 * 100vw);
  right: 0;
  left: 0;
  z-index: 2;
}

.mv h1::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/otouto.png);
  background-size: 100%;
  width: calc(90 / 375 * 100vw);
  height: calc(100 / 375 * 100vw);
  left: calc(190 / 375 * 100vw);
  bottom: calc(-49 / 375 * 100vw);
}

.mv img {
  display: block;
  width: 100%;
  margin-top: -5rem;
}

.mv .tit_pop {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: auto 0;
  margin-top: calc(280/375*100vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv .tit_pop img {
  width: calc(78/375*100vw);
  margin-right: 1rem;
}

.mv .under_tit {
  width: calc(373/375*100vw);
  margin-top: calc(70/375*100vw);
}

.content {
  position: relative;
  width: 88%;
  background: rgba(255, 255, 255, 0.6);
  margin: auto;
  padding-bottom: calc(60/375*100vw);
  top: calc(220/375*100vw);
}

.content p {
  font-size: 1.3rem;
  line-height: 2;
  margin: 0 1rem 2rem 1rem;
}

.content dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2.5;
  margin: 2rem;
}

.content dt {
  width: 19%;
}

.content dd {
  width: 63%;
  padding-bottom: 2rem;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}

.content #about h3 {
  background-image: url(../img/test_tit.png);
  background-size: calc(220 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #aplly_01 h3 {
  position: relative;
  background-image: url(../img/ap01_tit.png);
  background-size: calc(95 / 375 * 100vw);
  margin-top: calc(60 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #aplly_01 h3::before {
  bottom: calc(40 / 375 * 100vw);
  left: calc(50 / 375 * 100vw);
  width: calc(70 / 375 * 100vw);
  height: calc(40 / 375 * 100vw);
  background: url(../img/yazirusi.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #aplly_01 h3::after {
  bottom: calc(-30 / 375 * 100vw);
  left: calc(260 / 375 * 100vw);
  width: calc(65 / 375 * 100vw);
  height: calc(150 / 375 * 100vw);
  background: url(../img/neesan.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #aplly_015 h3 {
  position: relative;
  background-image: url(../img/ap15_tit.png);
  background-size: calc(98 / 375 * 100vw);
  margin-top: calc(30 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #aplly_02 h3 {
  position: relative;
  background-image: url(../img/ap02_tit.png);
  background-size: calc(95 / 375 * 100vw);
  margin-top: calc(60 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #aplly_02 p {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.content #aplly_02 p::after {
  bottom: calc(-20 / 375 * 100vw);
  left: calc(-10 / 375 * 100vw);
  width: calc(300 / 375 * 100vw);
  height: calc(70 / 375 * 100vw);
  background: url(../img/pencil.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #aplly_02 .submit {
  margin: 4rem auto;
  width: 26.8rem;
}

.content #aplly_02 .submit a {
  position: relative;
  color: #fff;
  font-size: 2.7rem;
  font-weight: bold;
  background: #ff7176;
  padding: 1rem 8rem;
  border-radius: 60px;
  z-index: 1;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
}

.content #aplly_02 .submit a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #ff7176;
  border-radius: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform ease .3s;
  transition: opacity .3s, -webkit-transform ease .3s;
  transition: transform ease .3s, opacity .3s;
  transition: transform ease .3s, opacity .3s, -webkit-transform ease .3s;
}

.content #aplly_02 .submit a:hover {
  color: #ff7176;
  background: transparent;
}

.content #aplly_02 .submit a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.content #judge h5 {
  font-size: 2rem;
  text-align: center;
}

.content #judge h6 {
  font-weight: bold;
  text-align: center;
}

.content #judge .img_shin {
  width: 55%;
  margin: 2rem auto;
}

.content #judge img {
  width: 100%;
}

.content #judge h3 {
  position: relative;
  background-image: url(../img/judge_tit.png);
  background-size: calc(75 / 375 * 100vw);
  margin-top: calc(0 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #judge .judge_01, .content #judge .judge_02, .content #judge .judge_03 {
  margin-bottom: 5rem;
}

.content #award h3 {
  position: relative;
  background-image: url(../img/award_tit.png);
  background-size: calc(100 / 375 * 100vw);
  margin-top: calc(60 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #award h3::before {
  bottom: calc(40 / 375 * 100vw);
  left: calc(90 / 375 * 100vw);
  width: calc(50 / 375 * 100vw);
  height: calc(50 / 375 * 100vw);
  background: url(../img/king.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #award h3::after {
  bottom: calc(-60 / 375 * 100vw);
  left: calc(220 / 375 * 100vw);
  width: calc(150 / 375 * 100vw);
  height: calc(160 / 375 * 100vw);
  background: url(../img/megane.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #award .hita, .content #award .we {
  margin-bottom: 2rem;
}

.content #award .hita_gp, .content #award .hita_au, .content #award .hita_shin, .content #award .hita_sp, .content #award .we_gp, .content #award .we_jud, .content #award .we_shin {
  margin-bottom: 3rem;
}

.content #movie h3 {
  position: relative;
  background-image: url(../img/movie_tit.png);
  background-size: calc(240 / 375 * 100vw);
  margin-top: calc(60 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #movie h3::before {
  top: calc( 0/ 375*100vw);
  left: calc(0 / 375 * 100vw);
  width: calc(35 / 375 * 100vw);
  height: calc(60 / 375 * 100vw);
  background: url(../img/corn.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #movie h3::after {
  top: calc( 0/ 375*100vw);
  left: calc(295 / 375 * 100vw);
  width: calc(35 / 375 * 100vw);
  height: calc(60 / 375 * 100vw);
  background: url(../img/juice.png);
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
}

.content #movie .theatre {
  width: 90%;
  margin: auto;
}

.content #movie .theatre img {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.content #movie .btn_hp {
  margin: auto;
  width: 28.2rem;
}

.content #movie .btn_hp a {
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background: #ff7176;
  padding: 1rem 4rem;
  border-radius: 70px;
  z-index: 1;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
}

.content #movie .btn_hp a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #ff7176;
  border-radius: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform ease .3s;
  transition: opacity .3s, -webkit-transform ease .3s;
  transition: transform ease .3s, opacity .3s;
  transition: transform ease .3s, opacity .3s, -webkit-transform ease .3s;
}

.content #movie .btn_hp a:hover {
  color: #ff7176;
  background: transparent;
}

.content #movie .btn_hp a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.content #contact h3 {
  position: relative;
  background-image: url(../img/contact_tit.png);
  background-size: calc(140 / 375 * 100vw);
  margin-top: calc(60 / 375 * 100vw);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(10 / 375 * 100vw);
  padding-top: calc(40 / 375 * 100vw);
  text-indent: -9999%;
}

.content #contact h3::before {
  display: none;
}

.content #contact h3::after {
  display: none;
}

footer {
  margin-top: calc(260/375*100vw);
}

footer .con {
  margin-top: 3rem;
  height: 42rem;
  background-color: #ff7176;
}

footer h3 {
  position: relative;
  text-indent: -9999px;
}

footer h3::before {
  position: absolute;
  content: "";
  background: url(../img/niisan.png);
  background-size: 100%;
  background-repeat: no-repeat;
  left: calc(180 / 375 * 100vw);
  width: calc(170 / 375 * 100vw);
  height: calc(210 / 375 * 100vw);
  top: calc(-150 / 375 * 100vw);
}

footer .sns {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer li {
  margin: 7rem 3rem;
}

footer p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin: 3rem 0;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logo .hita img {
  width: 16rem;
  margin-right: 2rem;
}

footer .logo .pop img {
  width: 10rem;
}

header .nav_btn {
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 5;
}

header .nav_btn #menuToggle:checked ~ .menuEffects {
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

header .nav_btn #menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

header .nav_btn #menuToggle:checked ~ .hamburger .open {
  background-color: transparent;
}

header .nav_btn #menuToggle:checked ~ .hamburger .open:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  z-index: 5;
}

header .nav_btn #menuToggle:checked ~ .hamburger .open:after {
  position: relative;
  top: 0;
  right: 0;
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
  z-index: 5;
}

header .nav_btn #menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

header .nav_btn .hamburger {
  display: block;
  position: relative;
  top: 0;
  right: 3rem;
  padding: 10px;
  cursor: pointer;
  z-index: 5;
}

header .nav_btn .hamburger:hover .open:before {
  top: -9px;
}

header .nav_btn .hamburger:hover .open:after {
  top: 8px;
}

header .nav_btn .open {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 8px;
  cursor: pointer;
}

header .nav_btn .open:before, header .nav_btn .open:after {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .nav_btn .open:before {
  top: -8px;
  content: '';
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .nav_btn .open:after {
  top: 7px;
  content: '';
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ff7176;
}

.menu label {
  position: absolute;
  top: 2rem;
  right: 20rem;
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  background-size: 100%;
}

.menu .menucont {
  position: relative;
  top: 16%;
  font-size: 2rem;
  text-align: center;
}

.menu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: #fff;
}

.menu .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .sns li {
  width: 3rem;
  margin-right: 2.5rem;
}

.menu .sns li:nth-of-type(3) {
  width: 3rem;
  margin: initial;
}

.menu ul li {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  padding: 2rem 0;
}

.menu ul li a:hover {
  color: #fff;
}

.menuEffects {
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
}

.menuEffects ul {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (min-width: 749px) {
  header .menucont li {
    font-size: 2.5rem;
  }
  .mv {
    height: calc(720/1080*100vw);
  }
  .mv .kaisai h3 {
    margin: auto;
    width: calc(350/1080*100vw);
    top: calc(-100/1080*100vw);
    left: calc(200/1080*100vw);
  }
  .mv .logo {
    width: calc(550/1080*100vw);
    top: calc(140/1080*100vw);
  }
  .mv h1::after {
    width: calc(160 / 1080 * 100vw);
    height: calc(190 / 1080 * 100vw);
    left: calc(450 / 1080 * 100vw);
    bottom: calc(-80 / 1080 * 100vw);
  }
  .mv .tit_pop {
    margin-top: calc(560/1080*100vw);
  }
  .mv .tit_pop img {
    width: alc(17.33333vw);
  }
  .mv .under_tit {
    width: calc(800/1080*100vw);
    margin: 0 auto;
    margin-top: calc(100/1080*100vw);
  }
  .content {
    max-width: calc(750/1080*100vw);
    margin-top: 0;
    padding-bottom: calc(80/1080*100vw);
    top: calc(450/1080*100vw);
  }
  .content h3 {
    padding-bottom: 0;
  }
  .content h4, .content h5, .content h6 {
    font-size: 2.2rem;
  }
  .content p, .content dl {
    font-size: 1.8rem;
    margin: 4rem;
  }
  .content .btn_sub img {
    margin-bottom: 4rem;
  }
  .content #about h3 {
    background-size: calc(350 / 1080 * 100vw);
    padding-top: calc(50/1080*100vw);
  }
  .content #aplly_01 h3 {
    background-size: calc(140/1080*100vw);
    margin-top: calc(100/1080*100vw);
    padding-top: calc(20/1080*100vw);
  }
  .content #aplly_01 h3::before {
    bottom: calc(50/1080*100vw);
    left: calc(190/1080*100vw);
    width: calc(120/1080*100vw);
    height: calc(60/1080*100vw);
  }
  .content #aplly_01 h3::after {
    bottom: calc(-100 / 1080 * 100vw);
    left: calc(570 / 1080 * 100vw);
    width: calc(100 / 1080 * 100vw);
    height: calc(270 / 1080 * 100vw);
  }
  .content #aplly_015 h3 {
    background-size: calc(140/1080*100vw);
    margin-top: calc(100/1080*100vw);
    padding-top: calc(20/1080*100vw);
  }
  .content #aplly_02 h3 {
    background-size: calc(140 / 1080 * 100vw);
    padding-top: calc(50 / 1080 * 100vw);
    margin-top: calc(80 /1080*100vw);
  }
  .content #aplly_02 p {
    font-size: 3rem;
    font-weight: bold;
  }
  .content #aplly_02 p::after {
    left: calc(-10/1080*100vw);
    bottom: calc(-30/1080*100vw);
    width: calc(600/1080*100vw);
    height: calc(130/1080*100vw);
  }
  .content #aplly_02 .submit {
    margin-top: calc(80/1080*100vw);
    width: 50rem;
  }
  .content #aplly_02 .submit a {
    font-size: 3.5rem;
    padding: 2rem 16rem;
    letter-spacing: 0.2em;
  }
  .content #judge h3 {
    background-size: calc(115/1080*100vw);
    margin-top: calc(100/1080*100vw);
  }
  .content #judge h5 {
    font-size: 4rem;
  }
  .content #judge h6 {
    font-size: 4rem;
  }
  .content #judge .judge_01, .content #judge .judge_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 4rem;
  }
  .content #judge .img_shin {
    width: 25%;
    margin: 0 auto;
  }
  .content #judge .text {
    margin-top: -2rem;
    width: 65%;
  }
  .content #award h3 {
    background-size: calc(155/1080*100vw);
    padding-top: calc(0/1080*100vw);
    margin-top: calc(140/1080*100vw);
  }
  .content #award h3::before {
    bottom: calc(-13/1080*100vw);
    left: calc(250/1080*100vw);
    width: calc(70/1080*100vw);
    height: calc(120/1080*100vw);
  }
  .content #award h3::after {
    bottom: calc(-120/1080*100vw);
    left: calc(530 / 1080 * 100vw);
    width: calc(300/1080*100vw);
    height: calc(320/1080*100vw);
  }
  .content #movie h3 {
    background-size: calc(450/1080*100vw);
  }
  .content #movie h3::before {
    left: calc(75/1080*100vw);
    width: calc(60/1080*100vw);
    height: calc(100/1080*100vw);
    top: calc(-40/1080*100vw);
  }
  .content #movie h3::after {
    left: calc(610/1080*100vw);
    width: calc(60/1080*100vw);
    height: calc(100/1080*100vw);
    top: calc(-40/1080*100vw);
  }
  .content #movie .btn_hp {
    width: 45rem;
  }
  .content #movie .btn_hp a {
    font-size: 3.5rem;
    padding: 2rem 4rem;
    letter-spacing: 0.1em;
  }
  .content #contact h3 {
    background-size: calc(200/1080*100vw);
    margin-top: calc(100/1080*100vw);
  }
  footer {
    margin-top: calc(500/1080*100vw);
  }
  footer h3::before {
    left: calc(600/1080*100vw);
    width: calc(300/1080*100vw);
    height: calc(370/1080*100vw);
    top: calc(-250/1080*100vw);
  }
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=index.css.map */